<html lang="en">  
    <head>  
        <title>Add Product Page</title>  
    </head>  
    <body>  
        <form action="/product/save" method="post">  
            <table>  
                <tr>  
                    <td><label for="id">Product Id</label></td>  
                    <td><input type="text" name="id"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="name">Product Name</label></td>  
                    <td><input type="text" name="name"></input></td>  
                </tr>
                <tr>  
                    <td><label for="price">Product Price</label></td>  
                    <td><input type="text" name="price"></input></td>  
                </tr>
                <tr>  
                    <td><label for="description">Product description</label></td>  
                    <td><input type="text" name="description"></input></td>  
                </tr>    
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table>  
        </form>  
    </body>  
</html>  